<section class="admin-dashboard">
  <header>
    <h1>Admin Dashboard</h1>
  </header>

  <div>
    <p><b>Products Count:</b> <%= @product_count %></p>
  </div>

  <div>
    <p><b>Categories Count:</b> <%= @category_count %></p>
  </div>

</section>
